*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body>div{
	margin: auto;
}

.container__main{
	width: 1440px;
	background: url(../img/bgmain.png);
	height: 800px;
	margin: auto;
}

.container__wrapper{
	width: 100%;
	background: #52503B;
	height: 80px;
	display: flex;
	align-items: center;
}

.header{
	width: 1200px;
	height: 60px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo img{
	width: 128px;
	height: 45px;
}

.header_menu{
	list-style: none;
	display: flex;
	width: 253px;
	justify-content: space-evenly;
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	font-family: 'Montserrat', sans-serif;
}

.header_menu a{
	text-decoration: none;
	color: #FFFFFF;
}

.header__bookNow{
	width: 117px;
	height: 42px;
	background: #FFFFFF;
	border-radius: 6px;
	color: #52503B;
	border: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	cursor: pointer;
}

.container__info{
	width: 1200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	margin-top: 178.25px;
}

.info__logo{
	width: 256px;
	height: 90px;
}

.info__title{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 53px;
	color: #FFFFFF;
	text-align: center;
	margin-top: 34px;
}

.info__subtitle{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-top: 33px;
}

.info__scroll{
	margin-top: 113px;
	width: 60px;
	height: 65px;
}

.container__text{
	width: 1440px;
	height: 410px;
	background: #FAF8F0;
	display: flex;
	flex-direction: column;
	padding-top: 100px;
	align-items: center;
}

.text__wrapper{
	width: 800px;
	height: 210px;
	margin: auto;
	display: flex;
	margin-top: 32px;
}

.text__line{
	width: 42px;
	border-top: 8px solid #E08631;
}

.text__left{
	width: 360px;
	height: 180px;
	margin-right: 40px;
	margin-left: 16px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
}

.text__rigt{
	width: 343px;
	height: 80px;
	margin-right: 25px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	display: flex;
	flex-direction: column;
}

.text__button{
	width: 107px;
	height: 42px;
	background: #52503B;
	border-radius: 6px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
	border: none;
	margin-top: 41px;
	cursor: pointer;
}

.container__bigText{
	width: 1440px;
	height: 568px;
	background: #FFFFFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 100px;
}

.bigText__wrapper{
	margin:auto;
	width: 1287px;
	height: 288px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 96px;
	line-height: 96px;
	text-align: center;
	color: #52503B;
	margin-top: 32px;
}

.container__kitchen{
	width: 1440px;
	height: 600px;
	margin: auto;
}

.container__arrangements{
	width: 1440px;
	height: 530px;
	background: #FAF8F0;
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.arrangements__wrapper{
	width: 1200px;
	height: 330px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.arrangements__headline{
	margin-top: 30px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 36px;
	text-align: center;
	color: #52503B;
}

.arrangements__text{
	margin-top: 14px;
	width: 554px;
	height: 72px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #52503B;
}

.arrangements__items{
	display: flex;
	margin: 32px 16px 0px 16px;
}

.arrangements__item{
	text-align: center;
	width: 347px;
	height: 140px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	color: #52503B;
}

.item__icon{
	height: 64px;
	margin-bottom: 12px;
}

.item__text{
	height: 64px;
}

.container__escape{
	width: 1440px;
	height: 726px;
	background: #FFFFFF;
	padding-top: 100px;
	margin: auto;
}

.container__escape .text__line{
	margin-left: 136px;
}

.escape__wrapper{
	width: 1200px;
	height: 526px;
	margin: auto;
	margin-top: 30px;
	padding-left: 16px;
	padding-right: 16px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.escape__headline{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 36px;
	color: #52503B;
}

.escape__subtitle{
	margin-top: 12px;
	margin-bottom: 30px;
	width: 600px;
	height: 72px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #52503B;
}

.escape__items{
	height: 336px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 583px);
	grid-template-rows: repeat(4, 1fr);
}

.escape__item{
	display: flex;
	align-items: center;
	margin-bottom: 32px;
	height: 50px;
}

.escape__icon{
	height: 36px;
}

.escape__iconText{
	margin-left: 16px;
	width: 516px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
}

.escape__item:nth-child(2n+2){
	margin-left: 32px;
}

.container__reviews{
	width: 1440px;
	height: 682px;
	background: #FAF8F0;
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	position: relative;
}

.reviews__wrapper{
	width: 1200px;
	height: 432px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.reviews__headline{
	margin-top: 38px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 36px;
	text-align: center;
	color: #52503B;
}

.reviews__subtitle{
	margin-top: 14px;
	margin-bottom: 30px;
	width: 572px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #52503B;
}

.reviews{
	display: flex;
	position: relative;
	width: 100%;
	padding-left: 16px;
}

.reviews__items{
	width: 584px;
/*	height: 266px;*/
	background: #FFFFFF;
	border: 1px solid rgba(82, 80, 59, 0.1);
	border-radius: 4px;
	position: absolute;
	padding: 31px 47px 31px 31px;
}

.reviews__items:nth-child(2){
	left: 620px;
}

.reviews__items:nth-child(3){
	left: 1224px;
}

.item__rating{
	display: flex;
	margin-bottom: 10px;
}
.item__star{
	margin-right: 2px;
}

.item__headline{
	margin-bottom: 11px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #333333;
}

.review__text{
	margin-bottom: 19px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
}

.review__author{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	display: flex;
}

.author__border{
	border-left: 2px solid #E08631;
	height: 20px;
	margin-right: 10px;
}

.reviews__btn{
	display: flex;
	width: 130px;
	justify-content: space-between;
	margin-top: 20px;
	position: absolute;
	right: 136px;
	bottom: 70px;
}

.btn__item{
	width: 60px;
	height: 60px;
	border: 2px solid #52503B;
	border-radius: 30px;
}

.container__bedroom{
	width: 1440px;
	height: 600px;
}

.container__together{
	width: 1440px;
	height: 366px;
	background: #FFFFFF;
	display: flex;
	align-items: center;
}

.together__wrapper{
	width: 1168px;
	height: 166px;
	display: flex;
	justify-content: space-between;
	margin: auto;
}

.together__left, .together__right{
	width: 552px;
	height: 166px;
}

.together__headline{
	margin-top: 30px;
	margin-bottom: 14px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 36px;
	color: #52503B;
}

.together__benefits{
	display: grid;
	grid-template-columns: repeat(2, 276px);
	grid-template-rows: repeat(2, 67px);
}

.benefits__item{
	display: flex;
	align-items: center;
}

.benefits__item:nth-child(2n+2){
	margin-left: 32px;
}

.benefit__icon{
	height: 36px;
}

.benefit__text{
	margin-left: 16px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
}

.container__booking{
	width: 1440px;
	height: 478px;
	background: #FAF8F0;
	padding-top: 100px;
}

.booking__wrapper{
	width: 1200px;
	height: 278px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
}

.booking_headline{
	margin-top: 30px;
	margin-bottom: 14px;
	width: 533px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 36px;
	text-align: center;
	color: #52503B;
}

.booking__subtitle{
	width: 514px;
	margin-bottom: 18px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #52503B;
}

.contact__btn{
	width: 116px;
	height: 52px;
	border: 4px solid #52503B;
	border-radius: 6px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #52503B;
	background: transparent;
	cursor: pointer;
}

.book__btn{
	width: 133px;
	height: 52px;
	background: #52503B;
	border-radius: 6px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	border: none;
	margin-left: 20px;
	cursor: pointer;
}

.footer{
	width: 1440px;
	height: 608px;
	background: #52503B;
	margin: auto;
}

.footer__wrapper{
	width: 1168px;
	height: 408px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 100px;
}

.footer__links{
	display: flex;
}

.footer__nav{
	width: 280px;
	height: 200px;
	margin-right: 16px;
}

.footer__header{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.footer__menu{
	list-style: none;
}

.footer__menu a{
	text-decoration: none;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
}

.footer__menu li{
	margin-top: 10px;
}

.footer__socials{
	width: 280px;
	height: 200px;
	margin-right: 16px;
}

.soc__icons{
	margin-top: 20px;
}

.soc__icons a{
	margin-right: 20px;
}

.footer__email{
	width: 576px;
	height: 200px;
}

.footer__subheader{
	margin-top: 1px;
	margin-bottom: 9px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
}

.footer__form{
	position: relative;
}

.footer__form>input{
	border: none;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #52503B;
	width: 576px;
	height: 52px;
	background: #F9FAFB;
	border: 1px solid #E5E7EB;
	border-radius: 8px;
	padding-left: 30px;
}

.form__btn>input{
	position: absolute;
	width: 61px;
	height: 30px;
	background: #52503B;
	border-radius: 10px;
	right: 7px;
	top: 11px;
	border: none;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
	padding: 5px 5px;
	cursor: pointer;
}

.footer__info{
	text-align: center;
	margin-top: 48px;
}

.footer__logo img{
	width: 200px;
	height: 70px;
}

.footer__copyright{
	margin: 20px 0;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
}

.footer__contact{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
}

.footer__contact a{
	text-decoration: none;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
}